---
title: Sebastians Notizen ✍
layout: layouts/home.njk
description: Description. Update me.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>Das ist der persönliche Blog von <a href="/about/">{{ metadata.author.name }}</a>. 
Hier schreibe ich unregelmäßig meine Notizen zu Software-Entwicklung, Vorgehen und vielem mehr.</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>