---
title: Sebastians Notizen ✍
layout: layouts/home.njk
description: Das ist der persönliche Blog von Sebastian Sanitz. Hier schreibe ich unregelmäßig meine Notizen zu Software-Entwicklung, Vorgehen und vielem mehr.
image: /img/sz_small.jpg
date: Last Modified
---

<p>Das ist der persönliche Blog von <a href="/about/">{{ metadata.author.name }}</a>. 
Hier schreibe ich unregelmäßig meine Notizen zu Software-Entwicklung, Vorgehen und vielem mehr.</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>